<html>
  <head>
  </head>
  <body>
    <header><div id = "heading">Author</div></header>
    <div id = "main">
      <div id="tab">
      <%= form_for([@publish,@author]) do |f| %>
        <div class="field">
          <%= f.label :name %><br>
          <%= f.text_field :name %>
        </div>

        <div class="actions">
          <%= f.submit %>
        </div>
      <% end %>
      <%= link_to 'Back', publishes_path %>
      </div>
    </div>
    <footer>
    </footer>
  </body>
</html>
