<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    
  </head>
  <body>
    <header><div id = "heading"> <%= render 'authors/show' %></div></header>
    <div id = "main">
      <div id="tabbb">
          <p id="notice"><%= notice %></p>
        <div id="one">
          <p>
            <strong>Topic:</strong>
            <%= @publish.topic %>
          </p>
          <p>
            <strong>Text:</strong>
            <%= @publish.text %>
          </p>
        </div>
        <div id="two">
          <h2>Comments</h2>
          <%= render 'comments/comment' %>
        </div>
        <div id="three">
          <h2>Add a comment:</h2>
          <%= render 'comments/form' %>
        </div>
         
          <%= link_to 'Edit', edit_publish_path(@publish) %> |
          <%= link_to 'Back', publishes_path %>
    </div>
    </div>
  </body>
</html>

